@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-50 antialiased;
  }
}

/* Custom scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full border-2 border-transparent bg-clip-content;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}

/* CMDK Custom Styles */
[cmdk-item][aria-selected="true"] {
  @apply bg-slate-800 text-slate-100;
}
